mkdocs==1.1.2
mkdocs-material
mkdocs-macros-plugin
mike
mdx_truly_sane_lists
mkdocs_latest_release_plugin
mkdocs-git-revision-date-localized-plugin
weasyprint
mkdocs-with-pdf
qrcode
tornado>=6.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
